* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: inherit;
    font-family: Oswald, sans-serif;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    background-repeat: no-repeat;
    font-size: 16px;
}
input::-moz-placeholder { color: #fff; }
textarea::-moz-placeholder { color: #fff; }
textarea::-webkit-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }
img {
    max-width: 100%;
}
.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}
.left, .right {
    display: inline-block;
    width: 49%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.quater {
    display: inline-block;
    width: 24.5%;
    text-align: center;
}
.black-block {
    border-top: 1px solid #131a1d;
    background-color: #131a1d;
    color: #fff;
    padding-bottom: 90px;
}
.black-block *,
.black-block .desk {
    color: #fff;
}


.yello-btn {
    display: block;
    margin: 0 auto;
    width: 230px;
    max-width: 50%;
    height: 60px;
    background-color: #ffe600;
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    border: none;
    font-weight: 600;
    margin-top: 35px;
}
.yello-btn.white {
    color: #fff;
}

/*description block*/
.desc-block {
    width: 50%;
    margin: 55px auto;
    text-align: center;
}
.desc-block .small-desk {
    text-transform: uppercase;
    color: #515151;
    font-size: 17px;
}

.desc-block .big-desk {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 800;
    margin-top: 10px;
}

.desk {
    color: #515151;
    margin-top: 15px;
    font-size: 17px;
}

.decor::after {
    content: " ";
    display: block;
    height: 3px;
    width: 170px;
    background-color: #ffe600;
    margin: 16px auto 0;
}

/*header styles*/

header {
    background-image: url(../img/bg.png);
    border-bottom: 1px solid #fff;
    background-size: 100%;
    padding-top: 100px;
    background-size: auto 100%;
    background-position: center center;
}
header .top-mnu{
    min-height: 100px;
    line-height: 100px;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
header .top-mnu .logo  {
    vertical-align: middle;
}

nav ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 39px;
    color: #fff;
    font-size: 17px;
}
nav ul li:hover {
    color: #ffe600;
}
nav ul li:after {
    content: ' ';
    background-color: #ffe600;
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    left: 20px;
    vertical-align: middle;
}

nav ul li:last-child:after {
    display: none;
}

/*//slider*/
.slider {
    margin: 290px 0;
    background-color: rgba(0,0,0,.4);
    padding: 55px 0 60px;
}
.slider .slide-item {
    text-align: center;
}
.slider h1 {
    text-transform: uppercase;
    color:#fff;
    font-size: 67px;
    line-height: 80px;
}

/*what we love to do*/
.love-to-do,
.how-we-do{
    padding-bottom: 65px;
}

.circle {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin: 0 auto;
    background-color: #ffe600;
    background-repeat: no-repeat;
    
}
.circle:hover {
    background-color: transparent;
    border: 1px solid #000;
}
.love-to-do .circle {
    background-image: url('../img/ltd.png');
    box-sizing: border-box;
}
.love-to-do .circle:hover {
    background-image: url('../img/ltd-h.png');
}
.love-to-do .quater:nth-child(1) .circle {
        background-position: 30px center;
 
}
.love-to-do .quater:nth-child(2) .circle {
        background-position: -270px center;
 
}
.love-to-do .quater:nth-child(3) .circle {
        background-position: -570px center;
 
}
.love-to-do .quater:nth-child(4) .circle {
        background-position: -870px center;
}

.pic-h {
    margin-top: 20px;
    font-size: 21px;
    text-transform: uppercase;
}
.pic-d {
    margin-top: 13px;
    padding: 0 5px;
    font-size: 15px;
}

/*how we do it*/

.how-we-do .desc-block {
    margin-bottom: 37px;
}
.how-we-do .big-desk {
    color: #ffe600;
}
.how-we-do .big-desk:after  {
    display: none;
}
.img-items li .pic-himg {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 auto 18px;
}

.how-we-do li .pic-himg {
    background-image: url(../img/how.png);
} 
.how-we-do li:nth-child(2) .pic-himg {
    background-position: -200px 0px;
}
.how-we-do li:nth-child(3) .pic-himg {
    background-position: -400px 0px;
}
.how-we-do li:nth-child(4) .pic-himg {
    background-position: -600px 0px;
}
.how-we-do li:nth-child(5) .pic-himg {
    background-position: -800px 0px;
}
.how-we-do li:nth-child(6) .pic-himg {
    background-position: -1000px 0px;
}
.three,
.six {
    display: inline-block;
    text-align: center;
}
.six {
    width: 16%;
    padding: 0 10px;
    box-sizing: border-box;
}
.three {
    width: 32%;
}

/*gallery*/

.img-gallery {
    padding-bottom: 35px;
}

.gallery-nav {
    text-align: center;
}

.gallery-nav ul li {
    color:#131a1d;
}

.gallery-nav ul li:first-child {
    margin-left: 0;
}
.gallery {
    margin-top: 70px;
}
.gallery ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.gallery li {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 16%;
}
.gallery li img {
    width: 100%;
}
.gallery-desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 230, 0, .6);
    opacity: 0;
}
.gallery li:hover .gallery-desc {
    opacity: 1;
}
.gallery-text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.gallery-text h3 {
    font-size: 27px;
}
.gallery-text p {
    font-size: 18px;
}

.down-btn {
    background-color: #ffe600;
    margin: 60px auto;
    background-image: url(../img/down.png);
    -webkit-background-size: contain;
    background-size: auto;
    background-position: center;
    width: 60px;
    height: 60px;
}

.down-btn:hover {
    background-color: #131a1d;
    background-image: url(../img/down2.png);    
}

/*//statistics*/
.black-block.stat {

}
.statistic {
    margin-top: 50px;
}
.stat-item {
    border: 1px solid #ffe600;
    text-align: center;
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
}

.stat-item .stst-num {
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.stat-item .stat-desk {
    color: #ffe600;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.qualities {
    color: #515151;
    /*margin-top: 95px;*/
}
.qualities .circle {
    width: 70px;
    height: 70px;
}


/*about*/

.about-item {
    margin-top: 45px;
    text-align: left;
}
.about-icon {
    width: 16%;
}
.about-text {
    width: 80%;
    padding-left: 2%;
    text-transform: uppercase;
}
.about-text h2 {
    font-size: 16px;
}

.about {
    padding-top: 30px;
    padding-bottom: 70px;
}
.about-icon,
.about-text {
    display: inline-block;
}

/*team*/
.team {
    border-top: 1px solid #fbfbfb;
    background-color: #fbfbfb;
}
.team-list {
    padding-bottom: 70px;
}
.team-list .pic-h {
    color: #ffe600;
    margin-top: 10px;
}
.team-list .pic-d {
    color: #515151;
    text-transform: uppercase;

}

.team-pic {
    background-color: #fff;
    max-width: 90%;
margin: 0 auto;
box-shadow: 0px 3px 0px 0px #e1e6e6;
}
.team-pic img {
    width: 100%;
}

.quater.active {
    position: relative;
}
.quater.active:before {
    content: " ";
    display: block;
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    border: 23px solid transparent;
    border-bottom: 16px solid #131a1d;
}

.single-team {
    padding-left: 18%;
    padding-right: 5%;
     display: none;
}

.single-team h2 {
    color: #ffe600;
    text-transform: uppercase;
    margin-top: 30px;
}
.single-team .desc {
    margin-top: 15px;
}

.single-team.active {
    display: block;
}
.icons {
    margin-top: 25px;
}
.icons i {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    text-align: center;
}
.icons i:last-child {
    margin-left: 20px;
}
.icons i:before {
    line-height: 40px;
}
 .team-desc-cont {
     background-color: #131316;
 }
/*//skills*/

.skills-progress h3 {
    color: #ffe600;
    text-transform: uppercase;
}


/*clients*/

.multtiple-slider {
    padding-top: 35px;
    padding-bottom: 35px;
}

.controls {
    text-align: center;
}

.left-control,
.right-control {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #ffe600;
    margin: 25px 15px;
    color: #fff;

}

/*comments*/
.comments.black-block {
    padding-bottom: 40px;
}
.comments-wr {
    margin-top: 50px;
    text-align: center;
}
.comment {
    max-width: 550px;
    margin: 0 auto;
    display: none;

}

.outh {
    margin-top: 15px;
}

.points-ctrl .ctrl {
    display: inline-block; 
    margin: 20px 5px 0;
    width: 5px;
    height: 5px;
    background-color: #fff;
}

/*contacts*/
.contacts {
    padding-bottom: 60px;
}

.contacts .pic-himg {
    background-image: url(../img/cont.png);
} 
.contacts li:nth-child(1) .pic-himg {
    background-position: 7px 0;
} 
.contacts li:nth-child(2) .pic-himg {
    background-position: -390px 0;
} 
.contacts li:nth-child(3) .pic-himg {
    background-position: -795px 0;
} 

/*form*/


.fields {
    width: 95%;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    padding: 20px 10px;
    box-sizing: border-box;
}
form {
    text-align: center;
}
.form .three {
    text-align: center;
}

.form .three:nth-child(1) {
    text-align: left;
}
.form .three:nth-child(3) {
    text-align: right;
}
textarea.fields {
    width: 96.5%;
    margin-top: 30px;
}

/*footer*/

footer {
    color: #fff;
    text-align: center;
    background-color: #131316;
    padding-top: 30px;
}
footer .em {
    color: #ffe600;
}

footer .down-btn {
    margin-bottom: 0;
}
.soc {
    margin-top: 20px;
}
.soc li {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/soc.png);
    background-repeat: no-repeat;
}

.soc li:nth-child(1) {
    background-position: 6px 0px;
}

.soc li:nth-child(2) {
    background-position: -26px 0px;
}
.soc li:nth-child(3) {
    background-position: -60px 0px;
}

.soc li:nth-child(4) {
    background-position: -90px 0px;
}

section#serv,
section#work,
section#clients,
section#contact {
    padding-top: 1px;
}

.big {
    transform: scale(1.1);
}

p.valid {
    height: 25px;
    font-size: 13px;
}


/*//circle progress animation*/
.circle-progress {
	display: flex;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}
.inCircle {
    stroke: #ffe600;
}

.circle-progress.animation svg circle {
	animation: load 3s cubic-bezier(0.41, 0.01, 0.32, 1.3) forwards;
}

.circle-progress:not(.animation) svg circle {
	stroke-dashoffset: 282.6;
}

.circle-progress svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(-90deg);
}

.circle-progress svg circle {
	fill: transparent;
}

.percent {
	margin: auto;
	font-size: 30px;
}

@keyframes load {
	from {
		stroke-dashoffset: 282.6;
	}
}





.slider .btn {
    color: white;
    font-size: 50px;
    text-decoration: none;
    top: 45%;
    position: absolute;
    z-index: 3;
}

.slider .btn:hover {
    color: #ffe600;
}


#prev {
    left: 15%;
}

#next {
    right: 15%;
}
.slide-menu{
    display: none;
}

.slide-menu.active{
    display: block;
}

.multtiple-slider .slide-item{
    display: none;

}

.multtiple-slider .slide-item.acitve{
    display: inline-block;
}

.comment.active{
    display: block;
}
