@media all and (max-width: 1300px) {

    header .left {
        width: 30%;
    }
    header .right {
        width: 69%;
    }

    .slider h1 {
        font-size: 50px;
    }
    .yello-btn {
        font-size: 18px;
        width: 200px;
    }

    .slider {
        margin: 190px 0;
    }
    .desc-block .big-desk {
        font-size: 26px;
    }

    .desc-block {
        width: 70%;
    }

    .circle {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .love-to-do .quater:nth-child(1) .circle {
        background-position: 21px center;
 
    }
    .love-to-do .quater:nth-child(2) .circle {
            background-position: -282px center;
    
    }
    .love-to-do .quater:nth-child(3) .circle {
            background-position: -582px center;
    
    }
    .love-to-do .quater:nth-child(4) .circle {
            background-position: -882px center;
    }

    .gallery li { 
        width: 22%;
    }

    .stat-item .stst-num {
        font-size: 30px;
    }
}

@media all and (max-width: 992px) {
    header .left,
    header .right {
        width: 100%;
        text-align: center;
    }
    header .top-mnu .logo {
        max-width: 90px;
    }
    header .top-mnu {
        min-height: 75px;
        line-height: 40px;
    }
    .slider {
        margin: 90px 0;
        padding: 35px 0 40px;
    }
    .slider h1 {
        font-size: 38px;
        line-height: 60px;
    }

    .yello-btn {
        font-size: 15px;
        width: 170px;
        height: 50px;
        margin-top: 20px;
    }
    .quater {
        width: 49%;
    } 
    .pic-d {
        margin: 13px auto 20px;
        font-size: 13px;
        max-width: 200px;
    }
    .pic-h {
        font-size: 18px;
    }
    .six
     {
        width: 32%;
    }
    .stat-item {
        margin-top: 20px;
    }
    .team-pic {
        max-width: 65%;
    }

    .single-team .desc,
    p.decor {
        font-size: 13px;
    }
    .desc-block .big-desk {
        font-size: 22px;
    }
    .about-text p {
        font-size: 12px;
    }
    .about-text h2 {
        font-size: 14px;
    }
    .about-text {
        width: 75%;
        padding-left: 5%;
    }

}

@media all and (max-width: 768px) {
    .left, .right {
        display: inline-block;
        width: 100%;
    }
    nav ul li { 
        font-size: 15px;
    }
    .slider h1 {
        font-size: 28px;
        line-height: 45px;
    }
    .slider {
        margin: 70px 0;
        padding: 30px 0 30px;
    }
    .yello-btn {
        font-size: 13px;
        width: 150px;
        height: 40px;
        margin-top: 15px;
    }
    .desc-block .big-desk {
        font-size: 18px;
    }
    .desc-block .small-desk {
        font-size: 14px;
    }
    .desk {
        font-size: 13px;
    }
    .desc-block {
        margin: 30px auto;
    }
    .pic-h {
        font-size: 16px;
    }
    /*.quater {
        width: 100%;
    }*/
   .gallery li {
        width: 26%;
    }
    .down-btn {
        margin: 40px auto;
        width: 50px;
        height: 50px;
    }
    .stat-item .stst-num {
        font-size: 23px;
    }
    .stat-item .stat-desk {
        font-size: 15px;
        line-height: 15px;
    }
    .stat-item {
        max-width: 200px;
    }
    form {
        text-align: left !important;
    }
    form .three {
        width: 100%;
        text-align: left !important;
        margin-top: 15px;
    }
    .fields {
        width: 100% !important;
    }
    .black-block {
        padding-bottom: 40px;
    }
}

@media all and (max-width: 600px) {
    nav ul li {
        margin-left: 20px;
    }
    nav ul li::after {
        display: none;
    }
    header .top-mnu .logo {
        max-width: 80px;
    }
}

@media all and (max-width: 480px) {
    nav ul li {
        margin-left: 13px;
        font-size: 11px;
    }
    header .top-mnu .logo {
        max-width: 50px;
    }
    .yello-btn {
        font-size: 10px;
        width: 100px;
        height: 30px;
    }
    .slider {
        margin: 40px 0; 
    }
    .slider h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .quater,
    .six,
    .three {
        width: 100%;
    }
    .gallery li {
        width: 40%;
    }
    .gallery-text h3 {
        font-size: 15px;
    }
    .gallery-text p {
        font-size: 13px;
    }
    .gallery {
        margin-top: 30px;
    }
    .gallery-nav ul li {
        width: 100%;
        text-align: left;
        margin-left: 20% !important;
    }
  .gallery-nav .naw-item::after {
        display: block !important;
        top: -11px;
        left: -25px;
    }
    .qualities .circle {
        display: none;
    }
    .about-text {
        width: 95%;
    }
    .about-item {
        margin-top: 10px;
    }
    .about {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .contacts .img-items li .pic-h::before {
        height: 40px;
    }
}